
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-logo {
    width: 70%;
    padding: 0.625rem;
    margin-left: 6.25rem;
    /* object-fit: cover; */
}

.custom-image {
    width: 100%;
  margin-top: 1.25rem;
  margin-right:3.125rem;
  border-radius: 1rem;
    /* object-fit: cover; */

}


.welcome-text {
    margin-top: 6.25rem;
    font-size: 1.625rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

