.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.custom-logo {
    width: 100%;
    max-width: 100%;
   margin-top: 1rem;
   margin-left: 15rem;
}

.custom-image {
    width: 100%; 
    max-width: 100%; 
    margin-right: 20rem;
    padding-top: 2rem;
   
}

.welcome-text {
    margin-top: 4rem;
    font-size: 1.625rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}

/* Vista Mobile */

@media screen and (max-width: 480px) {
    .logo-container,
    .image-container {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 1rem; 
    }

    .logo-container img {
        width: 80%; 
        height: auto;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }

    .container {
        padding: 0 1rem;
    }

    .welcome-text {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .row {
        flex-direction: column;
    }
}

/* Vista Tablet */

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 2rem;
    }

    .custom-logo {
        width: 80%;
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .custom-image {
        width: 80%; 
        margin-top: 1rem;
        margin-right: 0;
        margin-bottom: 1rem; 
    }

    .welcome-text {
        font-size: 1.5rem; 
    }

    .row {
        flex-direction: column; /* Mantener columna en tablet */
    }
}

/* Vista Desktop */

@media screen and (min-width: 1025px) {
    .row {
        flex-direction: row; /* Cambiar a fila en vista escritorio */
        justify-content: space-between; /* Espacio entre los elementos */
    }

    .logo-container,
    .image-container {
        width: 40%; /* Ajustar el ancho de los contenedores */
    }

    .custom-logo {
        width: 100%;
        max-width: 300px; /* Tamaño máximo del logo */
    }

    .custom-image {
        width: 100%;
        max-width: 500px; /* Tamaño máximo de la imagen */
        margin-top: 0; /* Eliminar margen superior */
    }
}
