.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-logo {
    width: 70%;
    padding: 0.625rem;
    margin-left: 6.25rem;
 
}

.custom-image {
    width: 100%;
    margin-top: 1.25rem;
    margin-right: 3.125rem;
    
}

.welcome-text {
    margin-top: 1rem;
    font-size: 1.625rem;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}