 .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  text-align: center;
  font-family: 'Montserrat';
  background-color: #7B37B0;
  bottom: 0;
   margin-top: 1rem;

}

.footer-redes{
  background-color: white;
  margin: 1.25rem 0 1.25rem 0;
  width: 100%;
  left: 0;
  padding: 0.75rem;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 1rem ;
  color: #7B37B0;
  align-items: center !important;
  justify-content: center !important;
}

.footer-icons > a {
  flex-basis: 31%;
  margin: 10px;
}

.links {
  color: #7B37B0;
  font-size: 1.5rem;
}

.img {
  width: 1.5rem;
  font-size: .75rem;
} 


@media screen and (max-width:480px)
{

  .footer {
    padding: 1rem; /* Añade un padding para mejor visualización en móvil */
  }

  .footer-redes {
    margin: 0.75rem 0;
    padding: 0.5rem;
  }

  .footer-icons {
    gap: 0.75rem; /* Reduce el espacio entre íconos */
  }

  .footer-icons > a {
    flex-basis: 45%; /* Ajusta el ancho de los enlaces de íconos en móvil */
    margin: 5px; /* Reduce el margen para que se vea bien en móvil */
  }

  .links {
    font-size: 1.25rem; /* Ajusta el tamaño de fuente para enlaces */
  }

  .img {
    width: 1.25rem; /* Ajusta el tamaño de las imágenes */
  }
}