.servicios {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF6FF;
    border-radius: 0px 148px 0px 115px;
    width: 100%;
    font-family: 'Montserrat';
    color: #7A38AE;
}

div {
    width: 100%;
}

h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 650;
    font-size: 48px;
}

.servicios-texto, p {
    margin-top: 10px;
    margin-left: 71px;  
    font-size: 24px;  
    font-weight: 500;
}

.mas-info {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

button {
    border-radius: 50%;
    size: 20px;
    width: 257px;   
    height: 73px;
}

.btn {
    background-color: #7B37B0;
    border-color: #7B37B0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
}