 .servicios {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF6FF;
    border-radius: 0rem 9.25rem 0rem 7.1875rem;
    width: 100%;
    font-family: 'Montserrat';
    color: #7A38AE;
}



.tituloservi {
    margin-top: 0.625rem;
    margin-bottom: 0.9375rem;
    text-align: center;
    font-weight: 650;
    font-size: 3rem;
}

.servicios-texto {
    margin-top: 0.625rem;
    margin-left: 4.4375rem;  
    font-size: 1.5rem;
    font-weight: 500;
}

.mas-info {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
}



.btn {
    background-color: #7B37B0;
    border-color: #FFFFFF;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    width: 16.0625rem;
    border-radius: 2.5rem;
    margin-bottom: 1.25rem;
    font-family: 'Montserrat';
    font-size: 1.50rem;
    transition: transform 0.3s ease;
    
} 

.btn:hover {
    transform: scale(1.1); 
  }



  /* Vista Mobile */

  @media screen and (max-width:480px) 
  {

    .servicios {
        padding: 1rem; 
        border-radius: 0; 
    }

    .tituloservi {
        font-size: 2rem; 
        margin-top: 1rem; 
        margin-bottom: 1rem; 
    }

    .servicios-texto {
        margin-left: 0; 
        font-size: 1.25rem; 
        text-align: center; 
    }

    .btn {
        width: 100%; 
        font-size: 1.25rem; 
    }

  }


  /* Vista Tablet */

  @media screen and (max-width: 1024px)
  {
    .servicios {
        padding: 1rem; 
        border-radius: 0; 
      }
    
      .tituloservi {
        font-size: 2.5rem; 
        margin-top: 1.5rem; 
        margin-bottom: 1.5rem; 
      }
    
      .servicios-texto {
        margin-left: 0; 
        font-size: 1.3rem; 
        text-align: center; 
      }
    
      .btn {
        width: 100%; 
        font-size: 1.5rem; 
      }


  }