.quienes-somos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #FAF6FF;
  margin-top: 1rem;
  }
  
  .fotoQuienes {
  width: 100%;
  }
  
  .texto {
  max-width: 37.5rem;
  margin-left: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #7B37B0;
  font-size: 1.25rem;
  }


  /* Vista Mobile */

  @media screen and (max-width:480px) 
  {
  
    .quienes-somos-container {
      flex-direction: column;
      align-items: center;

    }
  
    .fotoQuienes {
      width: 100%; 
      object-fit: cover; 
      padding: 1rem;
    }
  
    .texto {
      max-width: 100%; 
      margin-left: 0; 
      font-size: 1rem; 
    }
  
  }
  


/* Vista Tablet */

@media screen and (max-width: 1024px)

{

  .quienes-somos-container {
    padding: 1rem; 
  }

  .texto {
    font-size: 1.1rem; 
  }

}