.quienes-somos-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #FAF6FF;
  margin-top: 1rem;
  }
  
  .fotoQuienes {
  width: 100%;
  }
  
  .texto {
  max-width: 37.5rem;
  margin-left: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #7B37B0;
  font-size: 1.25rem;
  }