.quienes-somos-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FAF6FF;
  }
  
  .foto img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .texto {
    max-width: 600px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .texto h2 {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    color: #7B37B0
  
  }
  
  .texto p {
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    width: 500px;
    font-size: 20px;
    color: #7B37B0

  }
  