.eventos {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF6FF;
    width: 100%;
    font-family: 'Montserrat';
    color: #7A38AE;
}

.textoh1 {
    size: 3rem;
    text-align: center;
    margin-top: 0.75rem;
    margin-bottom: 0.9375rem;
    font-weight: bold;
}

.fotoeventos{
    min-width: 85.375rem;
    width: 100%;
}

.texto-unidos {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 24.375rem;
    padding-right: 24.375rem;
    size: 2rem;
    text-align: center;
}

.eventos-comunidad {
    background-color: #7A38AE ;
    color: #FFFFFF;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding-left: 24.375rem;
    padding-right: 24.375rem;
    size: 2rem;
    text-align: center;
}

.titulo {
    size: 2rem;
    margin-bottom: 1.25rem;
}

.textocomu {
    font-size: 1.25rem;
    margin-bottom: 0;
}

.group {
    margin-top: 1.25rem;
    color: #FFFFFF;
    width: 10.625rem;
    height: 5rem;
    object-fit: contain;
    margin-bottom: 1.25rem;
}

.titulo2 {
   font-size: 2rem;
}

.btn {
    background-color: #FFFFFF;
    border-color: #7B37B0;
    color: #7B37B0;
    display: block;
    margin: 0 auto;
    width: 16.0625rem;
    border-radius: 2.5rem;
    margin-bottom: 1.25rem;
    font-family: 'Montserrat';
    font-size: 1.50rem;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1); 
  }


  @media screen and (max-width:480px) 
  {
    .eventos {
        padding: 0 1rem; 
    }

    .texto-unidos, .eventos-comunidad {
        padding-left: 1rem;
        padding-right: 1rem;
        size: 1.5rem; 
        text-align: center; 
    }

    .textoh1 {
        font-size: 2rem; 
        margin-top: 1rem; 
        margin-bottom: 1rem; 
    }

    .fotoeventos {
        width: 100%; 
        margin-top: 1rem; 
        min-width: 1rem;
    }

    .group {
        width: 60%; 
       
    }

    .btn {
        width: 100%; 
        font-size: 1.25rem; 
    }

    .titulo, .titulo2 {
        font-size: 1.5rem; 
    }

    .textocomu {
        font-size: 1rem; 
    }
  }