.nuestra-mision-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #7B37B0;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .fotoMision {
    width: 100%;
  }
  
  .texto {
    max-width: 37.5rem;
    margin-right: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-size: 1.25rem;
    text-align:left;
  }
  
  @media screen and (max-width:480px) 
  {

    .nuestra-mision-container {
      flex-direction: column;
      padding: 1rem;
      margin-left: 0; 
    }
  
    .texto {
      width: 100%;
      max-width: none; 
      margin-right: 0; 
      margin-bottom: 1rem; 
      text-align: center; 
    }
  
    .fotoMision {
      width: 100%;
      max-width: 100%; /* Asegura que la imagen ocupe todo el ancho posible */
      height: auto; /* Mantén la relación de aspecto */
      
     
    }
  }