.navbar {
  background-color: #FFFFFF;
}


.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #7B37B0;
}

.social-icons {
  display: flex;
  gap: 1.3em;
 
}

.social-icons a {
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.5); 
 
}

.me-4 {
  margin-right: 1.5rem;
}

.me-4:hover {
  transform: scale(1.1); 
}
.ms-4 {
  margin-left: 1.5rem;
}

.justify-content-between {
  justify-content: space-between !important;
}

/* Vista mobile */

@media screen and (max-width: 480px) {
 
  .navbar-nav .nav-link {
    text-align: center;
    font-size: 1rem; 
  }


  .social-icons a {
    transform: scale(1.2);
  }

  .navbar {
    align-items: center;
  }

  .me-4, .ms-4 {
    margin: 0;
  }

  .mt-4 {
    margin-top: 1rem !important;
  }
}
