.eventos {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FAF6FF;
    width: 100%;
    font-family: 'Montserrat';
    color: #7A38AE;
}

div, h1{
    size: 48px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 15px;
}

figure, img {
    min-width: 1366px;
    height: 571px;
    width: 100%;
}

.texto-unidos {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 390px;
    padding-right: 390px;
    size: 32px;
    text-align: center;
}

.eventos-comunidad {
    background-color: #7A38AE ;
    color: #FFFFFF;
}

h4 {
    size: 32px;
    margin-bottom: 20px;
}

p {
    size: 16px;
    margin-bottom: 0;
}

.group {
    margin-top: 20px;
    color: #FFFFFF;
    width: 170px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 20px;
}

h2 {
    size: 48px;
}

.btn {
    background-color: #FFFFFF;
    border-color: #7B37B0;
    color: #7B37B0;
    display: block;
    margin: 0 auto;
    width: 257px;
    height: 73px;
    border-radius: 40px;
    margin-bottom: 20px;
}